--- a/smali_classes8/com/xj/common/config/SdkConfig$MobileAuth.smali
+++ b/smali_classes8/com/xj/common/config/SdkConfig$MobileAuth.smali
@@ -33,36 +33,27 @@
     .line 1
     new-instance v0, Lcom/xj/common/config/SdkConfig$MobileAuth;
 
-    .line 2
     .line 3
     invoke-direct {v0}, Lcom/xj/common/config/SdkConfig$MobileAuth;-><init>()V
 
-    .line 4
-    .line 5
     .line 6
     sput-object v0, Lcom/xj/common/config/SdkConfig$MobileAuth;->a:Lcom/xj/common/config/SdkConfig$MobileAuth;
 
-    .line 7
     .line 8
     sget-object v0, Lcom/xj/common/config/AppConfig;->a:Lcom/xj/common/config/AppConfig$Companion;
 
-    .line 9
     .line 10
     invoke-virtual {v0}, Lcom/xj/common/config/AppConfig$Companion;->a()Z
 
-    .line 11
-    .line 12
     .line 13
     move-result v0
 
     .line 14
     if-eqz v0, :cond_0
 
-    .line 15
     .line 16
     const-string v0, "M75ia0BmgbuXmZl/5xuB84sCOwbi/vpyl4TVALlztfuj6K2CaHvJY+a+zs+zcDC5ULesvxdFzH/uxjpnnRZe8WW9PwZVCiJm0UkUNgV/6gH7xJKv6tMQWGG6WcGWhvl9l3gUeXb4CBS8/i+0V1ocLk0/CkABFzz5xhtPUkgwRl5IMjl5BWK81MzruElawq+HfisjOYUsq/7tY3SmfTptVXbwJukQSa6R7xl2fzrJ4FxM0FLu52Pp/u4khkRHOERujITDJG0WROrhi1B6WXhGPCbgpDABOjaxQttEvBa8w1AiE5A5aTYx+5aAyQPAatmI"
 
-    .line 17
     .line 18
     goto :goto_0
 
@@ -70,12 +61,10 @@
     :cond_0
     const-string v0, "cErzcYH9nP5jfNG0rOnhsLoAwD4KFQxGmfWthrKUPP6i6F0A1MqVkm7YLh9FPp9WEJ3TsCmCyZSj60MGtKM1LY8PyxzoYX27Y8utIzrXRUgEF6PA4P1Eh7TNU3B0nGLUtOlSf2zMlPl+cu/VmLVQmYnzFGZ1L6rNJINfSwkH6lAlpdB3YuVRALvW5a1rg5g9+In/bgyQss45v/nXcdub3u7V4KIaCaUQO/WKfPHIm/KV4+NZvk2h41vgStGIgTqZT1WAgkrdyVMfdPjFb6EIyL44suAPyVsZQBu6F5cfCby31tzfYMQ/9w=="
 
-    .line 20
     .line 21
     :goto_0
     sput-object v0, Lcom/xj/common/config/SdkConfig$MobileAuth;->b:Ljava/lang/String;
 
-    .line 22
     .line 23
     return-void
 .end method
@@ -86,8 +75,6 @@
     .line 1
     invoke-direct {p0}, Ljava/lang/Object;-><init>()V
 
-    .line 2
-    .line 3
     .line 4
     return-void
 .end method
@@ -100,7 +87,6 @@
     .line 1
     sget-object p0, Lcom/xj/common/config/SdkConfig$MobileAuth;->b:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
