--- a/smali_classes8/com/xj/common/config/SdkConfig$Umeng.smali
+++ b/smali_classes8/com/xj/common/config/SdkConfig$Umeng.smali
@@ -33,36 +33,27 @@
     .line 1
     new-instance v0, Lcom/xj/common/config/SdkConfig$Umeng;
 
-    .line 2
     .line 3
     invoke-direct {v0}, Lcom/xj/common/config/SdkConfig$Umeng;-><init>()V
 
-    .line 4
-    .line 5
     .line 6
     sput-object v0, Lcom/xj/common/config/SdkConfig$Umeng;->a:Lcom/xj/common/config/SdkConfig$Umeng;
 
-    .line 7
     .line 8
     sget-object v0, Lcom/xj/common/config/AppConfig;->a:Lcom/xj/common/config/AppConfig$Companion;
 
-    .line 9
     .line 10
     invoke-virtual {v0}, Lcom/xj/common/config/AppConfig$Companion;->f()Z
 
-    .line 11
-    .line 12
     .line 13
     move-result v1
 
     .line 14
     if-eqz v1, :cond_0
 
-    .line 15
     .line 16
     const-string v0, "682a95e6bc47b67d83695f07"
 
-    .line 17
     .line 18
     goto :goto_0
 
@@ -70,19 +61,15 @@
     :cond_0
     invoke-virtual {v0}, Lcom/xj/common/config/AppConfig$Companion;->a()Z
 
-    .line 20
-    .line 21
     .line 22
     move-result v0
 
     .line 23
     if-eqz v0, :cond_1
 
-    .line 24
     .line 25
     const-string v0, "6853d7ff79267e02108beb2c"
 
-    .line 26
     .line 27
     goto :goto_0
 
@@ -90,12 +77,10 @@
     :cond_1
     const-string v0, "667a6196cac2a664de54975a"
 
-    .line 29
     .line 30
     :goto_0
     sput-object v0, Lcom/xj/common/config/SdkConfig$Umeng;->b:Ljava/lang/String;
 
-    .line 31
     .line 32
     return-void
 .end method
@@ -106,8 +91,6 @@
     .line 1
     invoke-direct {p0}, Ljava/lang/Object;-><init>()V
 
-    .line 2
-    .line 3
     .line 4
     return-void
 .end method
@@ -120,7 +103,6 @@
     .line 1
     sget-object p0, Lcom/xj/common/config/SdkConfig$Umeng;->b:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
