--- a/smali_classes6/com/mobile/auth/gatewayauth/network/SDKConfigRequest.smali
+++ b/smali_classes6/com/mobile/auth/gatewayauth/network/SDKConfigRequest.smali
@@ -36,16 +36,12 @@
     .line 1
     invoke-direct {p0}, Lcom/mobile/auth/gatewayauth/network/AuthRequest;-><init>()V
 
-    .line 2
-    .line 3
     .line 4
     const-string v0, "25331768"
 
-    .line 5
     .line 6
     iput-object v0, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->AppKey:Ljava/lang/String;
 
-    .line 7
     .line 8
     return-void
 .end method
@@ -58,7 +54,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->AccessKeyId:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -69,7 +64,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->SecurityToken:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -80,7 +74,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->TerminalInfo:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -91,7 +84,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->AccessKeyId:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -102,7 +94,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->SecurityToken:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -113,7 +104,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/network/SDKConfigRequest;->TerminalInfo:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
