--- a/smali_classes6/com/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone.smali
+++ b/smali_classes6/com/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone.smali
@@ -39,8 +39,6 @@
     .line 1
     invoke-direct {p0}, Ljava/lang/Object;-><init>()V
 
-    .line 2
-    .line 3
     .line 4
     return-void
 .end method
@@ -56,50 +54,36 @@
     .line 2
     invoke-static {p1, p0, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Ljava/lang/Object;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 3
-    .line 4
     .line 5
     if-eqz p1, :cond_0
 
-    .line 6
     .line 7
     const-string v1, "Data"
 
-    .line 8
     .line 9
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 10
-    .line 11
     .line 12
     move-result-object p1
 
     .line 13
     new-instance v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone$a;
 
-    .line 14
     .line 15
     invoke-direct {v1, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone$a;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;)V
 
-    .line 16
-    .line 17
     .line 18
     invoke-static {p1, v1, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 19
-    .line 20
     .line 21
     move-result-object p1
 
     .line 22
     check-cast p1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;
 
-    .line 23
     .line 24
     invoke-virtual {p0, p1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->setData(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 25
-    .line 26
     .line 27
     :cond_0
     return-void
@@ -111,7 +95,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->Code:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -122,7 +105,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->Data:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -133,7 +115,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->Message:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -144,7 +125,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->RequestId:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -155,7 +135,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->Code:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -166,7 +145,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->Data:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -177,7 +155,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->Message:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -188,7 +165,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigRespone;->RequestId:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -202,8 +178,6 @@
     .line 2
     invoke-static {p0, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->toJson(Ljava/lang/Object;Ljava/util/List;)Lorg/json/JSONObject;
 
-    .line 3
-    .line 4
     .line 5
     move-result-object p0
 
