--- a/smali_classes6/com/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData.smali
+++ b/smali_classes6/com/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData.smali
@@ -107,8 +107,6 @@
     .line 1
     invoke-direct {p0}, Ljava/lang/Object;-><init>()V
 
-    .line 2
-    .line 3
     .line 4
     return-void
 .end method
@@ -124,374 +122,267 @@
     .line 2
     invoke-static {p1, p0, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Ljava/lang/Object;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 3
-    .line 4
     .line 5
     if-eqz p1, :cond_0
 
-    .line 6
     .line 7
     const-string v1, "GetVendorList"
 
-    .line 8
     .line 9
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 10
-    .line 11
     .line 12
     move-result-object v1
 
     .line 13
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$a;
 
-    .line 14
     .line 15
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$a;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 16
-    .line 17
     .line 18
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 19
-    .line 20
     .line 21
     move-result-object v1
 
     .line 22
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 23
     .line 24
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setGetVendorList(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 25
-    .line 26
     .line 27
     const-string v1, "LoginPhone"
 
-    .line 28
     .line 29
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 30
-    .line 31
     .line 32
     move-result-object v1
 
     .line 33
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$b;
 
-    .line 34
     .line 35
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$b;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 36
-    .line 37
     .line 38
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 39
-    .line 40
     .line 41
     move-result-object v1
 
     .line 42
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 43
     .line 44
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setLoginPhone(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 45
-    .line 46
     .line 47
     const-string v1, "LoginPage"
 
-    .line 48
     .line 49
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 50
-    .line 51
     .line 52
     move-result-object v1
 
     .line 53
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$c;
 
-    .line 54
     .line 55
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$c;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 56
-    .line 57
     .line 58
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 59
-    .line 60
     .line 61
     move-result-object v1
 
     .line 62
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 63
     .line 64
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setLoginPage(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 65
-    .line 66
     .line 67
     const-string v1, "GetConfig"
 
-    .line 68
     .line 69
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 70
-    .line 71
     .line 72
     move-result-object v1
 
     .line 73
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$d;
 
-    .line 74
     .line 75
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$d;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 76
-    .line 77
     .line 78
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 79
-    .line 80
     .line 81
     move-result-object v1
 
     .line 82
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 83
     .line 84
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setGetConfig(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 85
-    .line 86
     .line 87
     const-string v1, "AuthToken"
 
-    .line 88
     .line 89
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 90
-    .line 91
     .line 92
     move-result-object v1
 
     .line 93
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$e;
 
-    .line 94
     .line 95
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$e;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 96
-    .line 97
     .line 98
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 99
-    .line 100
     .line 101
     move-result-object v1
 
     .line 102
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 103
     .line 104
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setAuthToken(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 105
-    .line 106
     .line 107
     const-string v1, "LoginToken"
 
-    .line 108
     .line 109
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 110
-    .line 111
     .line 112
     move-result-object v1
 
     .line 113
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$f;
 
-    .line 114
     .line 115
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$f;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 116
-    .line 117
     .line 118
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 119
-    .line 120
     .line 121
     move-result-object v1
 
     .line 122
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 123
     .line 124
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setLoginToken(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 125
-    .line 126
     .line 127
     const-string v1, "Sls"
 
-    .line 128
     .line 129
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 130
-    .line 131
     .line 132
     move-result-object v1
 
     .line 133
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$g;
 
-    .line 134
     .line 135
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$g;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 136
-    .line 137
     .line 138
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 139
-    .line 140
     .line 141
     move-result-object v1
 
     .line 142
     check-cast v1, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 143
     .line 144
     invoke-virtual {p0, v1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setSls(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;)V
 
-    .line 145
-    .line 146
     .line 147
     const-string v1, "UploadLog"
 
-    .line 148
     .line 149
     invoke-virtual {p1, v1}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 150
-    .line 151
     .line 152
     move-result-object v1
 
     .line 153
     new-instance v2, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$h;
 
-    .line 154
     .line 155
     invoke-direct {v2, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$h;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 156
-    .line 157
     .line 158
     invoke-static {v1, v2, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->fromJson(Lorg/json/JSONObject;Lcom/nirvana/tools/jsoner/JsonType;Ljava/util/List;)Ljava/lang/Object;
 
-    .line 159
-    .line 160
     .line 161
     move-result-object v0
 
     .line 162
     check-cast v0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/UploadLogData;
 
-    .line 163
     .line 164
     invoke-virtual {p0, v0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setUploadLog(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/UploadLogData;)V
 
-    .line 165
-    .line 166
     .line 167
     const-string v0, "DownGradeInfoList"
 
-    .line 168
     .line 169
     invoke-virtual {p1, v0}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 170
-    .line 171
     .line 172
     move-result-object v1
 
     .line 173
     if-eqz v1, :cond_0
 
-    .line 174
     .line 175
     invoke-virtual {p1, v0}, Lorg/json/JSONObject;->optJSONObject(Ljava/lang/String;)Lorg/json/JSONObject;
 
-    .line 176
-    .line 177
     .line 178
     move-result-object p1
 
     .line 179
     const-string v0, "List"
 
-    .line 180
     .line 181
     invoke-virtual {p1, v0}, Lorg/json/JSONObject;->optJSONArray(Ljava/lang/String;)Lorg/json/JSONArray;
 
-    .line 182
-    .line 183
     .line 184
     move-result-object p1
 
     .line 185
     new-instance v0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$i;
 
-    .line 186
     .line 187
     invoke-direct {v0, p0}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData$i;-><init>(Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;)V
 
-    .line 188
-    .line 189
     .line 190
     invoke-static {p1, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->parseJsonArray2JsonerList(Lorg/json/JSONArray;Lcom/nirvana/tools/jsoner/JsonType;)Ljava/util/List;
 
-    .line 191
-    .line 192
     .line 193
     move-result-object p1
 
     .line 194
     invoke-virtual {p0, p1}, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->setDownGradeInfoList(Ljava/util/List;)V
 
-    .line 195
-    .line 196
     .line 197
     :cond_0
     return-void
@@ -503,7 +394,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->AuthToken:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -522,7 +412,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->DownGradeInfoList:Ljava/util/List;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -533,7 +422,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->GetConfig:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -544,7 +432,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->GetVendorList:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -555,7 +442,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsAuthDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -566,7 +452,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsCrashDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -577,7 +462,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -588,7 +472,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsLoginDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -599,7 +482,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsSLSDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -610,7 +492,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->LoginPage:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -621,7 +502,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->LoginPhone:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -632,7 +512,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->LoginToken:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -643,7 +522,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->Sls:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -654,7 +532,6 @@
     .line 1
     iget-object p0, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->UploadLog:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/UploadLogData;
 
-    .line 2
     .line 3
     return-object p0
 .end method
@@ -665,7 +542,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->AuthToken:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -684,7 +560,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->DownGradeInfoList:Ljava/util/List;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -695,7 +570,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->GetConfig:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -706,7 +580,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->GetVendorList:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -717,7 +590,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsAuthDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -728,7 +600,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsCrashDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -739,7 +610,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -750,7 +620,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsLoginDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -761,7 +630,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->IsSLSDemoted:Ljava/lang/String;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -772,7 +640,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->LoginPage:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -783,7 +650,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->LoginPhone:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -794,7 +660,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->LoginToken:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -805,7 +670,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->Sls:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/ConfigData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -816,7 +680,6 @@
     .line 1
     iput-object p1, p0, Lcom/mobile/auth/gatewayauth/model/popsdkconfig/SDKConfigData;->UploadLog:Lcom/mobile/auth/gatewayauth/model/popsdkconfig/UploadLogData;
 
-    .line 2
     .line 3
     return-void
 .end method
@@ -830,8 +693,6 @@
     .line 2
     invoke-static {p0, v0}, Lcom/nirvana/tools/jsoner/JSONUtils;->toJson(Ljava/lang/Object;Ljava/util/List;)Lorg/json/JSONObject;
 
-    .line 3
-    .line 4
     .line 5
     move-result-object p0
 
